{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% block content %}

{% if current_user.is_authenticated %}
	<div class="row justify-content-center">
		<div class="col-md-10">
			 <h4> Hey {{current_user.username}}, What's on your Mind? <a href="{{url_for('posts.newPostPage')}}">New Post</a></h4>
		</div>
	</div>
	<div class="row justify-content-center mt-3">
		<div class="col-md-10">
			<h2>Feeds</h2>
			<hr>
			{% for post in posts.items %}
				<div class="row justify-content-center">
					<div class="col-md-12">
						<h4><a class="article-title text-dark" href="{{url_for('posts.individualPostPage',post_id=post.id)}}">{{ post.title }}</a></h4>	
						
						<small class="text-muted">Created by</small> 
						<a class="font-weight-bold text-primary" href="{{url_for('users.anyProfilePage',username
						=post.author.username)}}">{{post.author.username}}</a>
						<small class="text-muted">on {{post.date_posted.strftime('%d-%m-%Y')}}</small>

						<p class="article-content post-wrap" >{{ post.content }}</p>
					</div>
				</div>
				<hr>
			{% endfor %}

			<div class="d-flex justify-content-center mb-5">
				<div class="col-12">
					<center>
					{% for page_num in posts.iter_pages(left_edge=1, right_edge=1) %}
						{% if page_num %}
							{% if posts.page == page_num %}
									<a class="text-dark border-bottom border-dark font-weight-bold mb-4 ml-2" href="{{url_for('main.homePage',page=page_num)}}">{{page_num}}</a>
							{% else %}
								<a class="font-weight-bold mb-4 ml-2" href="{{url_for('main.homePage',page=page_num)}}">{{page_num}}</a>
							{% endif %}
						{% else %}
							...
						{% endif %}	
					{% endfor %}
					</center>
				</div>
			</div>
		</div>
	</div>

{% else %}
	<div class="row justify-content-center">
		<div class="col-md-10">
			 <h2> Welcome to Blog Application !</h2>
			 <h4>Please <a href="{{url_for('users.loginPage')}}">Login</a> or <a href="{{url_for('users.signUpPage')}}">Sign Up</a></h4>
		</div>
	</div>
{% endif %}

<button  id="myBtn" class="rounded-circle text-dark" title="Go to top"><i class="fas fa-arrow-up"></i></button>

<script type="text/javascript">
	let homeLink = document.getElementById('home-link')
	homeLink.classList.add('text-dark')
</script>

{% endblock %}