{% extends 'base.html' %}
{% block title %} {{current_user.username}}'s Page {% endblock %}
{% block content %}
	
	<div class="row justify-content-center mt-3">
		<div class="col-md-10">
			<h2>My Posts</h2>
			<hr>
			<div class="container">
				{% if not posts.items %}
					<p class="text-center font-weight-bold">No Post's Yet</p>
				{% endif %}

				{% for post in posts.items %}
				<div class="row justify-content-center">
					<div class="col-md-12">
						<div class="row justify-content-between align-items-center">
							<div class="col-md-10">
								<h4><a class="article-title text-dark" href="{{url_for('individualPostPage',post_id=post.id)}}">{{ post.title }}</a></h4>
								<small class="text-muted">Created on {{post.date_posted.strftime('%d-%m-%Y')}}</small>	
							</div>
							<div class="col-md-2">
								<a href="{{url_for('updatePostPage',post_id=post.id) }}" class="btn btn-secondary btn-sm mr-2" title="Edit this Post"><i class="fas fa-pencil-alt"></i></a>
								<a href="{{url_for('deletePostPage',post_id=post.id) }}" class="btn btn-danger btn-sm" title="Delete this Post"><i class="fas fa-trash"></i></a>
							</div>
						</div>
						
						
						<p class="article-content post-wrap">{{ post.content }}</p>
					</div>
				</div>
				<hr>
			{% endfor %}
			<div class="d-flex justify-content-center mb-5">
					<div class="col-12">
						<center>
						{% for page_num in posts.iter_pages(left_edge=1, right_edge=1) %}
							{% if page_num %}
								{% if posts.page == page_num %}
										<a class="text-dark border-bottom border-dark font-weight-bold mb-4 ml-2" href="{{url_for('accountPage',page=page_num)}}">{{page_num}}</a>
								{% else %}
									<a class="font-weight-bold mb-4 ml-2" href="{{url_for('accountPage',page=page_num)}}">{{page_num}}</a>
								{% endif %}
							{% else %}
								...
							{% endif %}	
						{% endfor %}
						</center>
					</div>
				</div>
			</div>
		</div>
	</div>

<button  id="myBtn" class="rounded-circle text-dark" title="Go to top"><i class="fas fa-arrow-up"></i></button>

<script type="text/javascript">
	let myPostsLink = document.getElementById('myposts-link')
	myPostsLink.classList.add('text-dark')
</script>

{% endblock %}