html {
  scroll-behavior: smooth;
}

body{
	background: whitesmoke;
}

a{ 
	text-decoration: none !important;
}

.post-wrap{
	white-space: pre-wrap;	
}



#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 1.2rem;
  border: none;
  outline: none;
  cursor: pointer;
}

#myBtn:hover {
  background-color: lightgrey;
}